/* Geral */
body{
  margin: auto;
  padding-bottom: 50px;
}

@media (max-width: 600px) {
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 600px) {
  body{
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

@font-face {
  font-family: Jonathan;
  src: url('fonts/Jonathan/Jonathan.ttf');
}

@font-face {
  font-family: Cardo;
  src: url('fonts/Cardo/Cardo-Regular.ttf');
}

@media (max-width: 600px) {
  .text{
    font-size: 15px;
  }

  .title{
    font-size: 25px;
  }
}

@media (min-width: 600px) {
  .text{
    font-size: 25px;
  }

  .title{
    font-size: 30px;
  }
}

.text{
  font-family: Cardo;
  color: #A1C19C;
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title{
  font-family: Cardo;
  color: #D17A84;
}

/* Menu */
.home{
  font-family: Jonathan;
  color: #942c35;
}

.grid-item-menu {
  text-align: center;
}

@media (max-width: 600px) {
  .home{
    font-size: 75px;
    margin: 0;
  }
  .grid-container-menu {
    grid-template-columns: auto;
  }
}

.grid-container-menu {
  display: grid;
  align-items:center;
}

.home:hover{
  color: #A1C19C;
  cursor: pointer;
}
.item-menu{
  color: #942c35;
  padding: 10px;
  font-family: Cardo;
  font-weight: bold;
}
.item-menu:hover{
  color: #A1C19C;
  cursor: pointer;
}

.grid-item-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

.fa-play, .fa-pause, .fa-volume-mute, .fa-volume-up{
  color: #942c35;
}
.fa-play:hover, .fa-pause:hover, .fa-volume-mute:hover, .fa-volume-up:hover{
  color: #A1C19C;
}

@media (min-width: 600px) {
  .grid-container-menu {
    grid-template-columns: 30% 15% 15% 15% 15% 10%;
  }

  .grid-item-menu {
    font-size: 16px;
  }
  
  .home{
    font-size: 90px;
  }
  .item-menu{
    padding: 10px;
  }
}

/* Inicial */
#casal{
  width: 80%;
  border-radius: 15px;
}

@media (min-width: 600px) {

  .grid-item-timer {
    margin: 10px;
    width: 190px;
  }

  .grid-item-timer>label {
    font-size: 50px;
  }

  #days, #hours, #minutes, #seconds {
    font-size: 90px;
  }
}

@media (max-width: 600px) {
  .grid-item-timer {
    margin: 10px;
    width: 50px;
  }

  .grid-item-timer>label {
    font-size: 20px;
  }

  #days, #hours, #minutes, #seconds {
    font-size: 40px;
  }
}

.img_inicial{
  text-align: center;
}

#days, #hours, #minutes, #seconds {
  color: white;
  font-family: Jonathan;
  padding: 0;
  margin: 0;
  height: 20px;
}

.grid-container-timer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-item-timer {
  background-color: #D17A84;
  text-align: center;
  border-radius: 15px;
}

.grid-item-timer>label {
  color: white;
  font-family: Jonathan;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  #carouselExampleIndicators{
    width: 90%;
    height: 300px;
  }
  .imagem_slides{
    height: 300px;
  }
}

@media (min-width: 600px) {
  #carouselExampleIndicators{
    width: 60%;
    height: 600px
  }
  .imagem_slides{
    height: 600px;
  }
}

#carouselExampleIndicators{
  border-radius: 15px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.imagem_slides{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(128, 128, 128, 0.295);
  border-radius: 15px;

}


/* Local */ 
#local{
  display:none
}

.center{
  display: block;
  text-align: center;
}

#rita{
  width: 80%;
  border-radius: 15px;
}

@media (max-width: 600px) {
  #rita{
    height: 200px;
  }
  .mapouter{
    height:200px;
  }
  .gmap_canvas {
    height:200px;
  }
  .gmap_iframe {
    height:200px!important;
  }
}
.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:400px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;
  height:400px;
}
.gmap_iframe {
  height:400px!important;
}


/* Lista de presentes */ 
#lista_presentes{
  display:none;
  height: 1600px;
}
.iframe{
  width: 100%;
  height: 1600px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Confirmação de presença */ 
#confirmaçao_presenca{
  display:none;
}

#confirmaçao_presenca>.iframe{
  height: 1600px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #confirmaçao_presenca>.iframe{
    width: 100%;
  }
}

/* Indicação dos noivos */ 
#indicacao_noivos{
  display:none
}

@media (max-width: 600px) {
  .grid-container-indicacao {
    grid-template-columns: auto;
  }
}

@media (min-width: 600px) {
  .grid-container-indicacao {
    grid-template-columns: auto auto auto;
  }
}

.grid-container-indicacao {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item-indicacao label{
  margin: 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  width: 190px;
  color: #A1C19C;
  font-family: Cardo;
}

.img-indicacao {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display: inline-block;
}

/* Footer */ 
footer{
  margin-top: 50px;
  text-align: center;
}
footer>img{
  width: 150px;
}