@font-face {
    font-family: Jonathan;
    src: url('fonts/Jonathan/Jonathan.ttf');
}

@font-face {
    font-family: Cardo;
    src: url('fonts/Cardo/Cardo-Regular.ttf');
}

body{
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    text-align: center;
    font-family: Jonathan;
    font-size: 50px;
    color: #942c35;
}

.text{
    text-align: center;
    font-family: Cardo;
    font-size: 25px;
    color: #A1C19C;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Footer */ 
footer{
    margin-top: 50px;
    text-align: center;
  }
  footer>img{
    width: 150px;
  }